[program:welcome]
command=python -m SimpleHTTPServer 8080
autostart=yes
autorestart=yes
startretries=3
;stderr_logfile=/var/log/welcome/welcome.err.log
;stdout_logfile=/var/log/welcome/welcome.err.log